.custNav{
    /* position: sticky;        
    top: 0; */
}

.custBrand > img{    
    width: 7em;
}

.custLinks{
    
}

@media (max-width:612px){
    .custLinks{
        display: none;
    }   
}

.custItem{
    font-size: 1.5em;
    font-weight: block;
}

.scrollNav{    
    background-color: #CDE0FD;
    transition: all 0.4s ease-in-out;
}