.weAssureTitle{
    font-family: 'Abril Fatface', cursive;
}

.custCardTitle{
    font-family: 'Abril Fatface', cursive;
}

.custCardShadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custCardImg{
    transition: all 0.2s ease-in;
}

.custCard:hover .custCardImg{
    opacity: 0.05;
}

.custCardText{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    opacity: 0;    
    transition: all .2s ease;
}

.custCard:hover .custCardText{
    opacity: 1;
}