.footerHead{
    font-family: 'Abril Fatface', cursive;
}

.listHead{
    font-family: 'Quicksand', sans-serif;
}

.listItem{
    font-family: 'Quicksand', sans-serif;
    /* transition: all 0.5s ease; */
    cursor: pointer;
}

.listItem:hover{
    text-decoration: underline;
    color: #2C4E9F;
}

.iconDiv{
    transition: all 0.5s ease;
    cursor: pointer;
}

.iconDiv:hover{
    transform: translateY(-10px);
}